# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# IDE and editor specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore macOS .DS_Store files
.DS_Store

# Python virtual environments
.venv/